<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          Menu <i class="fa fa-bars"></i>
      </button>
      <%= link_to "TCTECH",  root_path, class: "navbar-brand"%>
    </div>

    <ul class="navbar-nav nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "LOG IN", new_user_session_path %></li>
        <li><%= link_to "SIGN UP", new_user_registration_path %></li>
      <% end %>
    </ul>

    <% if user_signed_in? %>
      <p><%= link_to "POST ME!", new_message_path, class: "navbar-text navbar-link" %></p>
    <% end %>

  </div>
</nav>
